body {
    background-image: url(../img/escheresque_@2X.png);
}

.logo {
    font-family: 'Peralta', cursive;

}

.logo a {
    color: hsl(0, 0%, 0%);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}