{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Wuhan Hospital{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
  </head>
  <body>
    {% block body %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">Wuhan Hospital</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
        aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          {% if user.is_authenticated  %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if user.first_name != '' and user.last_name != '' %}
                    {{ user.first_name }} {{  user.last_name  }}
                  {% elif user.first_name != '' %}
                    {{ user.first_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                  {% if user.grp is 1 %}
                    <a href="{% url 'reg_doctor' %}" class="dropdown-item">Register new doctor</a>
                  {% endif %}
                  <a href="{% url 'my_account' %}" class="dropdown-item">My account</a>
                  <a href="{% url 'password_change' %}" class="dropdown-item">Change password</a>
                  {% if user.grp == 3 %}
                    <a href="{% url 'del_patient' %}" class="dropdown-item {% if not user.patient.can_delete %} disabled {% endif %}">Delete account</a>
                  {% endif %}
                  {% if user.grp is 1 %}
                  <div class="dropdown-divider"></div>
                    <div class="text-muted">reports</div>
                    <a href="{% url 'rel_patients' 1 %}" class="dropdown-item">Patients</a>
                    <a href="{% url 'rel_patients' 2 %}" class="dropdown-item">Patients With</a>
                    <a href="{% url 'rel_patients' 3 %}" class="dropdown-item">Patients Without</a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
                </div>
              </li>
            </ul>
          {% else %}
            <form action="" class="form-inline ml-auto">
              <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
              <a href="#" class="btn btn-primary ml-2">Sign up</a>
            </form>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
      </ol>
      {% block content %}
      {% endblock content %}
    </div>
    {% endblock body %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>