{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'select_spec' %}">Specialty</a></li>
  <li class="breadcrumb-item"><a href="{% url 'select_date' spec %}">Date</a></li>
  <li class="breadcrumb-item active">Choose Doctor</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="row justify-content-center">
      <div class="col-lg8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Select doctor and time</h3>
            <form method="post">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th>Doctor</th>
                    <th>08:00h - 09:00h</th>
                    <th>09:00h - 10:00h</th>
                    <th>10:00h - 11:00h</th>
                  </tr>
                </thead>
                <tbody>
                  {% csrf_token %}
                  {% for schedule in schedules %}
                    <tr>
                      <td>{{ schedule.doctor.user.first_name }}</td>
                      {% for queue in schedule.sch_queues  %}
                        <td class="align-middle">
                            {% if queue.queue_first == '' %}
                              <button type="submit" class="btn btn-primary" name='idk' value={{ queue.pk }} >Available</button>
                              {% comment %} <input type="button" class="btn btn-primary" name="idk" value="{{ queue }}">Available</input> {% endcomment %}
                            {% else %}
                              <button type="submit" class="btn btn-danger" name='idk' value={{ queue.pk }} >Busy</button>
                              {% comment %} <input type="button" class="btn btn-danger" name="idk" value="{{ queue }}">Taken</input> {% endcomment %}
                            {% endif %}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                  {% if not schedules %}
                    <tr>
                      <td class="align-middle table-warning" colspan='4'>No doctors available to you right now!</td>
                    </tr>
                  {% endif %}
                </tbody>
                <div class="text-muted">* For busy appointments' time, the patient is being put onto a queue</div>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}