{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"> Administrative home</li>
{% endblock breadcrumb %}

{% block content %}
  {% comment %} <div class="mb-4">
    <a href="#" class="btn btn-primary">Search by day</a>
  </div> {% endcomment %}

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Doctor</th>
        <th>Specialty</th>
        <th>Appointment count</th>
        <th>Options</th>

        {% comment %} <th>Status</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {% for doctor in doctors %}
        <tr>
          <td class="align-middle">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</td>
          <td class="align-middle">{{ doctor.get_spec}}</td>
          <td class="align-middle">{{doctor.total_appoints}}
          </td>
          <td class="align-middle">
            <a class="btn btn-info" href="{% url 'upd_doctor' doctor.pk %}" role="button">
              Edit
            </a>
            <a class="btn btn-danger {% if doctor.total_appoints > 0 %}disabled{% endif %}" href="{% url 'del_doctor' doctor.pk %}" role="button">
              Delete
            </a>
          </td>
          {% comment %} <td class="align-middle">
              {% if not appointment.done %}
                <a class="btn btn-danger" href="#" role="button">Cancel</a>
              {% else %}
                <a class="btn btn-info" href="#" role="button">Info</a>
              {% endif %}
          </td> {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% comment %} <div class="row">
    <div class="col">
    </div>
    <div class="col">
      {% if not user.is_authenticated  %}
        <a href="{% url 'reg_patient' %}" class="btn btn-primary ml-2">Novo paciente? Cadastre-se</a>
      {% endif %}
    </div>
    <div class="col">
    </div>
  </div> {% endcomment %}
{% endblock content %}