{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock breadcrumb %}

{% block content %}

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      {% if not user.is_authenticated  %}
        <a href="{% url 'reg_patient' %}" class="btn btn-primary ml-2">New Patient? Sign up</a>
      {% endif %}
    </div>
    <div class="col">
    </div>
  </div>
{% endblock content %}