{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  {% if type is 1 %}
    <li class="breadcrumb-item active">Your appointments for the next 7 days</li>
  {% else %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Date</li>
  {% endif %}
{% endblock breadcrumb %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'sched_date' %}" class="btn btn-primary">Search by day</a>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Appointments</th>
        <th>Options</th>
        {% comment %} <th>Status</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedules %}
        <tr {% if schedule.date == today%} class="today"{% endif %}>
          <td>{{ schedule.date }}
            {% if schedule.date == today%}<small class="text-white-50 d-block">today</small>{% endif %}
          </td>
          <td class="align-middle">{{ schedule.count_appoints }}</td>
          <td class="align-right"><a class="btn btn-success" href="{% url 'schedule_appointments' schedule.pk %}" role="button">View appointments</a></td>
          {% comment %} <td class="align-middle">
              {% if not appointment.done %}
                <a class="btn btn-danger" href="#" role="button">Cancel</a>
              {% else %}
                <a class="btn btn-info" href="#" role="button">Info</a>
              {% endif %}
          </td> {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% comment %} <div class="row">
    <div class="col">
    </div>
    <div class="col">
      {% if not user.is_authenticated  %}
        <a href="{% url 'reg_patient' %}" class="btn btn-primary ml-2">Novo paciente? Cadastre-se</a>
      {% endif %}
    </div>
    <div class="col">
    </div>
  </div> {% endcomment %}
{% endblock content %}