{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Your appointments</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'select_spec' %}" class="btn btn-primary">Schedule appointment</a>
  </div>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Date/time</th>
        <th>Doctor</th>
        <th>Specialty</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr class="{% if appointment.status == 3 %} table-secondary{% endif %}">
          <td>{{ appointment.date }}
            <small class="text-muted d-block">{{ appointment.time_str }}</small>
          </td>
          <td class="align-middle">{{ appointment.schedule.doctor.user.first_name }}</td>
          <td class="align-middle">{{ appointment.schedule.doctor.get_spec }}</td>
          <td class="align-middle">{{ appointment.status_str}}</td>
          <td class="align-middle">
            {% if appointment.status == 1 %}
              <a class="btn btn-danger {% if not appointment.can_cancel %} disabled {% endif %}" href="{% url 'del_appointment' appointment.pk %}" role="button"> Unschedule </a>
            {% elif appointment.status == 2%}
              <a class="btn btn-success" href="{% url 'view_appointment' appointment.pk %}" role="button">View</a>
            {% elif appointment.status == 3%}
              <a class="btn btn-info" href="#" role="button" disabled>Missed</a>
            {% else %}
              <a class="btn btn-warning" href="{% url 'del_appointment' appointment.pk %}" role="button"> Opt out </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% if not appointments %}
        <tr>
          <td class="align-middle table-warning text-muted" colspan='5'>No appointments scheduled yet!</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      {% if not user.is_authenticated  %}
        <a href="{% url 'reg_patient' %}" class="btn btn-primary ml-2">Novo paciente? Cadastre-se</a>
      {% endif %}
    </div>
    <div class="col">
    </div>
  </div>
{% endblock content %}