{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Wuhan Hospital{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
      <div class="col-lg8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
            Patients
            {% comment %} {% if rel == '1' %}Patients {% endif %} {% endcomment %}
            {% comment %} {% if rel == '2' %}Patients with at least 1 appointment made{% endif %} {% endcomment %}
            {% comment %} {% if rel == '3' %}Patients with no appointments made{% endif %} {% endcomment %}

            </h3>
            <div>
              {% if rel_type == 1 %}
                {% for patient in patients %}
                  <strong>Full name: </strong>{{ patient.user.first_name }} {{ patient.user.last_name }} <br>
                  <strong>Email: </strong>{{ patient.user.email }} <br>
                  <strong>CPF: </strong>{{ patient.cpf }} <br>
                  <strong>Age: </strong>{{ patient.get_usr_age }} <br><br>
                {% endfor %}
              {% elif rel_type == 2 %}
                {% for patient in patients %}
                  {% if not patient.can_delete %}
                    <strong>Full name: </strong>{{ patient.user.first_name }} {{ patient.user.last_name }} <br>
                    <strong>Email: </strong>{{ patient.user.email }} <br>
                    <strong>CPF: </strong>{{ patient.cpf }} <br>
                    <strong>Age: </strong>{{ patient.get_usr_age }} <br><br>
                  {% endif %}
                {% endfor %}
              {% elif rel_type == 3 %}
                {% for patient in patients %}
                  {% if patient.can_delete %}
                    <strong>Full name: </strong>{{ patient.user.first_name }} {{ patient.user.last_name }} <br>
                    <strong>Email: </strong>{{ patient.user.email }} <br>
                    <strong>CPF: </strong>{{ patient.cpf }} <br>
                    <strong>Age: </strong>{{ patient.get_usr_age }} <br><br>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% for patient in patients %}
                  <strong>Full name: </strong>{{ patient.user.first_name }} {{ patient.user.last_name }} <br>
                  <strong>Email: </strong>{{ patient.user.email }} <br>
                  <strong>CPF: </strong>{{ patient.cpf }} <br>
                  <strong>Age: </strong>{{ patient.get_usr_age }} <br><br>
              {% endfor %}
            </div>
          </div>
          {% comment %} <div class="card-footer text-muted text-center">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
{% endblock content %}

