{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class='breadcrumb-item'><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">{{ schedule.date }} appointments</li>
{% endblock breadcrumb %}

{% block content %}
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Time</th>
        <th>Patient name</th>
        <th>Age (years)</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        {% if appointment != '' %}
          <tr>
            <td>
              {% comment %} <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a> {% endcomment %}
              {{ appointment.time_str}}
              <small class="text-muted d-block">{{ board.description }}</small>
            </td>
            <td class="align-middle">{{ appointment.patient.user.first_name}}</td>
            <td class="align-middle">{{ appointment.patient.get_usr_age }}</td>
            <td class="align-middle">
              {{ appointment.status_str}}
            </td>
            <td class="align-middle">
                {% if appointment.status == 1 %}
                <a class="btn btn-success" href="{% url 'start_appointment' appointment.pk %}" role="button">Start</a>
              {% elif appointment.status == 2%}
                <a class="btn btn-info" href="{% url 'view_appointment' appointment.pk %}" role="button">Print</a>
              {% elif appointment.status == 3%}
                <a class="btn btn-danger" href="#" role="button" disabled>Missed</a>
              {% else %}
                <a class="btn btn-info" href="#" role="button">Info</a>
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5" class="align-middle text-muted">No appointments scheduled</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}