{% extends 'base.html' %}

{% load static %}

{% block title %}Make an appointment{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'select_spec' %}">Specialty</a></li>
  <li class="breadcrumb-item active">Date</li>


{% endblock breadcrumb %}


{% block content %}
  <div class="row justify-content-center">
      <div class="col-lg8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Select appointment's date</h3>
            <form method="post">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary">Ok</button>
            </form>
          </div>
          {% comment %} <div class="card-footer text-muted text-center">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
{% endblock content %}