{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Wuhan Hospital{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
      <div class="col-lg8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Appointment data:</h3>
            <div>
              <strong>Full name: </strong>{{ appointment.patient.user.first_name }} {{ appointment.patient.user.last_name }} <br>
              <strong>Email: </strong>{{ appointment.patient.user.email }} <br>
              <strong>CPF: </strong>{{ appointment.patient.cpf }} <br>
              <strong>Age: </strong>{{ appointment.patient.get_usr_age }} <br>
              <strong>Doctor's name: </strong>{{ appointment.schedule.doctor.user.first_name }} <br>
              <strong>Doctor's specialty: </strong>{{ appointment.schedule.doctor.get_spec }} <br>
              <strong>Appointment's date: </strong>{{ appointment.date }} <br>
              <strong>Appointment's time: </strong>{{ appointment.time_str }} <br>
              <strong>Symptoms: </strong>{{ appointment.symptoms }} <br>
              <strong>Prescription: </strong>{{ appointment.prescription }} <br>
              <strong>Exams: </strong>{{ appointment.exams }} <br>
            </div>
          </div>
          {% comment %} <div class="card-footer text-muted text-center">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
{% endblock content %}

